.birth_wappa
  = f.select :birth_year,["--"], {},{class: "wata", id:"user_birth_year"}
  %span 年
  = f.select :birth_month, ["--"], {},{class: "wata", id:"user_birth_month"}
  月
  = f.select :birth_day, ["--"], {},{class: "wata", id:"user_birth_day"}
  %span 日